In [1]:
import pandas as pd
import numpy as np

In [19]:
data  = pd.read_csv('./data/fruit_classification_dataset.csv')
data.head()

   size (cm)  shape  weight (g)  avg_price (₹)   color  taste     fruit_name
0       25.4  round      3089.2          137.1   green  sweet     watermelon
1       24.6  round      3283.9          163.8   green  sweet     watermelon
2        7.8  round       319.0           91.3   green  sweet  custard apple
3       20.0   oval      1607.0           85.7  orange  sweet         papaya
4       10.2   long       131.5           37.8  yellow  sweet         banana

In [20]:
print(data['shape'].value_counts())
print(data['color'].value_counts())
print(data['taste'].value_counts())
print(data['fruit_name'].value_counts())

shape
round    5016
oval     4482
long      502
Name: count, dtype: int64
color
green     2029
red       1943
brown     1541
yellow    1002
pink       998
orange     996
purple     988
blue       503
Name: count, dtype: int64
taste
sweet    7504
tangy    2015
sour      481
Name: count, dtype: int64
fruit_name
pomegranate      534
pear             534
pineapple        533
custard apple    516
papaya           509
kiwi             506
blueberry        503
coconut          502
banana           502
lychee           502
mango            500
grape            499
watermelon       498
dragon fruit     496
apple            492
plum             489
orange           487
guava            481
cherry           479
strawberry       438
Name: count, dtype: int64

In [21]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
data['shape'] = le.fit_transform(data['shape'])
data['color'] = le.fit_transform(data['color'])
data['taste'] = le.fit_transform(data['taste'])
data['fruit_name'] = le.fit_transform(data['fruit_name'])

data.head()

   size (cm)  shape  weight (g)  avg_price (₹)  color  taste  fruit_name
0       25.4      2      3089.2          137.1      2      1          19
1       24.6      2      3283.9          163.8      2      1          19
2        7.8      2       319.0           91.3      2      1           5
3       20.0      1      1607.0           85.7      3      1          13
4       10.2      0       131.5           37.8      7      1           1

In [ ]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
columns_to_scale = ['size (cm)', 'weight (g)', 'avg_price (₹)']
data[columns_to_scale] = scaler.fit_transform(data[columns_to_scale])
data.head()

   size (cm)  shape  weight (g)  avg_price (₹)  color  taste  fruit_name
0   2.652880      2    3.599944       1.542774      2      1          19
1   2.527814      2    3.866070       2.228357      2      1          19
2  -0.098584      2   -0.186518       0.366755      2      1           5
3   1.808681      1    1.573991       0.222963      3      1          13
4   0.276616      0   -0.442803      -1.006978      7      1           1

In [23]:
data.to_csv('./data/fruit_classification_processed.csv', index=False)