In [52]:
import pandas as pd
import numpy as np

In [53]:
data  = pd.read_csv('./data/Exam_Score_Prediction.csv')
print(data.head())

   student_id  age  gender   course  study_hours  class_attendance  \
0           1   17    male  diploma         2.78              92.9
1           2   23   other      bca         3.37              64.8
2           3   22    male     b.sc         7.88              76.8
3           4   20   other  diploma         0.67              48.4
4           5   20  female  diploma         0.89              71.6

  internet_access  sleep_hours sleep_quality   study_method facility_rating  \
0             yes          7.4          poor       coaching             low
1             yes          4.6       average  online videos          medium
2             yes          8.5          poor       coaching            high
3             yes          5.8       average  online videos             low
4             yes          9.8          poor       coaching             low

  exam_difficulty  exam_score
0            hard        58.9
1        moderate        54.8
2        moderate        90.3
3        moderate        29.7
4        moderate        43.7

In [54]:
data = data.drop(columns=['student_id'])
data = data.dropna()

In [55]:
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OrdinalEncoder

print(data['exam_difficulty'].unique())
print(data['internet_access'].unique())
print(data['gender'].unique())
print(data['sleep_quality'].unique())
print(data['facility_rating'].unique())

['hard' 'moderate' 'easy']
['yes' 'no']
['male' 'other' 'female']
['poor' 'average' 'good']
['low' 'medium' 'high']

In [56]:
label1 = ['easy', 'moderate', 'hard']
lebel2 = ['no', 'yes']
label3 = ['poor', 'average', 'good']

oe = OrdinalEncoder(categories=[label1, lebel2, label3])
data[['exam_difficulty', 'internet_access', 'sleep_quality']] = oe.fit_transform(data[['exam_difficulty', 'internet_access', 'sleep_quality']])
data.head()

,age,gender,course,study_hours,class_attendance,internet_access,sleep_hours,sleep_quality,study_method,facility_rating,exam_difficulty,exam_score
0,17,male,diploma,2.78,92.9,1.0,7.4,0.0,coaching,low,2.0,58.9
1,23,other,bca,3.37,64.8,1.0,4.6,1.0,online videos,medium,1.0,54.8
2,22,male,b.sc,7.88,76.8,1.0,8.5,0.0,coaching,high,1.0,90.3
3,20,other,diploma,0.67,48.4,1.0,5.8,1.0,online videos,low,1.0,29.7
4,20,female,diploma,0.89,71.6,1.0,9.8,0.0,coaching,low,1.0,43.7

In [57]:
oe2 = OrdinalEncoder(categories=[['low', 'medium', 'high']])
data[['facility_rating']] = oe2.fit_transform(data[['facility_rating']])
data.head()

,age,gender,course,study_hours,class_attendance,internet_access,sleep_hours,sleep_quality,study_method,facility_rating,exam_difficulty,exam_score
0,17,male,diploma,2.78,92.9,1.0,7.4,0.0,coaching,0.0,2.0,58.9
1,23,other,bca,3.37,64.8,1.0,4.6,1.0,online videos,1.0,1.0,54.8
2,22,male,b.sc,7.88,76.8,1.0,8.5,0.0,coaching,2.0,1.0,90.3
3,20,other,diploma,0.67,48.4,1.0,5.8,1.0,online videos,0.0,1.0,29.7
4,20,female,diploma,0.89,71.6,1.0,9.8,0.0,coaching,0.0,1.0,43.7

In [58]:
from sklearn.preprocessing import OneHotEncoder
ohe = OneHotEncoder(drop = 'first', sparse_output=False)
#perform one hot encoding on course and study_method
encoded_features = ohe.fit_transform(data[['course', 'study_method']])
encoded_df = pd.DataFrame(encoded_features, columns=ohe.get_feature_names_out(['course', 'study_method']))
data = pd.concat([data.reset_index(drop=True), encoded_df.reset_index(drop=True)], axis=1)
data = data.drop(columns=['course', 'study_method'])
data.head()

,age,gender,study_hours,class_attendance,internet_access,sleep_hours,sleep_quality,facility_rating,exam_difficulty,exam_score,course_b.sc,course_b.tech,course_ba,course_bba,course_bca,course_diploma,study_method_group study,study_method_mixed,study_method_online videos,study_method_self-study
0,17,male,2.78,92.9,1.0,7.4,0.0,0.0,2.0,58.9,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
1,23,other,3.37,64.8,1.0,4.6,1.0,1.0,1.0,54.8,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
2,22,male,7.88,76.8,1.0,8.5,0.0,2.0,1.0,90.3,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,20,other,0.67,48.4,1.0,5.8,1.0,0.0,1.0,29.7,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
4,20,female,0.89,71.6,1.0,9.8,0.0,0.0,1.0,43.7,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

In [59]:
#Encode the gender
le = LabelEncoder()
data['gender'] = le.fit_transform(data['gender'])
data.head()

,age,gender,study_hours,class_attendance,internet_access,sleep_hours,sleep_quality,facility_rating,exam_difficulty,exam_score,course_b.sc,course_b.tech,course_ba,course_bba,course_bca,course_diploma,study_method_group study,study_method_mixed,study_method_online videos,study_method_self-study
0,17,1,2.78,92.9,1.0,7.4,0.0,0.0,2.0,58.9,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
1,23,2,3.37,64.8,1.0,4.6,1.0,1.0,1.0,54.8,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
2,22,1,7.88,76.8,1.0,8.5,0.0,2.0,1.0,90.3,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,20,2,0.67,48.4,1.0,5.8,1.0,0.0,1.0,29.7,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
4,20,0,0.89,71.6,1.0,9.8,0.0,0.0,1.0,43.7,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

In [61]:
# Create target variable by binning exam_score split into F, D, C, B, A, S

labels = ['F', 'D', 'C', 'B', 'A', 'S']
data['grade'] = pd.cut(data['exam_score'], bins=6, labels = labels, right=False)
data = data.drop(columns=['exam_score'])
data.head()

,age,gender,study_hours,class_attendance,internet_access,sleep_hours,sleep_quality,facility_rating,exam_difficulty,course_b.sc,course_b.tech,course_ba,course_bba,course_bca,course_diploma,study_method_group study,study_method_mixed,study_method_online videos,study_method_self-study,grade
0,17,1,2.78,92.9,1.0,7.4,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,C
1,23,2,3.37,64.8,1.0,4.6,1.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,C
2,22,1,7.88,76.8,1.0,8.5,0.0,2.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,S
3,20,2,0.67,48.4,1.0,5.8,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,F
4,20,0,0.89,71.6,1.0,9.8,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,D

In [63]:
oe = OrdinalEncoder(categories=[labels])
data[['grade']] = oe.fit_transform(data[['grade']])
data.head()

,age,gender,study_hours,class_attendance,internet_access,sleep_hours,sleep_quality,facility_rating,exam_difficulty,course_b.sc,course_b.tech,course_ba,course_bba,course_bca,course_diploma,study_method_group study,study_method_mixed,study_method_online videos,study_method_self-study,grade
0,17,1,2.78,92.9,1.0,7.4,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,2.0
1,23,2,3.37,64.8,1.0,4.6,1.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,2.0
2,22,1,7.88,76.8,1.0,8.5,0.0,2.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0
3,20,2,0.67,48.4,1.0,5.8,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
4,20,0,0.89,71.6,1.0,9.8,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0

In [64]:
data.to_csv('./data/Exam_Score_Prediction_Cleaned.csv', index=False)